.nav {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 15px;
  font-family: sans-serif;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
p {
  color: rgb(61, 77, 71);
}
.first {
  display: flex;

  justify-content: space-between;
}
.f-c {
  padding: 10px;
}
.second {
  display: flex;

  margin-top: 20px;
}
